<service>
	<serviceName>sudoku</serviceName>
	<serviceDescription>Devuelve un sudoku aleatorio asi como su solucion</serviceDescription>
	<creatorEmail>salvi@apretaste.com</creatorEmail>
	<serviceCategory>ocio</serviceCategory>
	<serviceUsage>
		<![CDATA[
			Escriba un nuevo email a {APRETASTE_EMAIL} y en el asunto escriba la palabra SUDOKU

			Por ejemplo:
			Para: {APRETASTE_EMAIL}
			Asunto: SUDOKU

			Recibir&aacute; un email con un sudoku auto-generado por Apretaste.
		]]>
	</serviceUsage>
</service>
