td, th {
  text-align: center;
  font-size: 2rem;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 2.5rem;
}

input.select-dropdown {
  font-size: 2rem;
  border: 0px;
}

.sudoku-cell {
  border: 1px solid gray;
  margin-top: 2px;
}

.sudoku-rock {
  background: #eeeeee;
}

.row-selected, .col-selected {
  background: #6fbf89;
}

.square-selected {
  background: #33a673;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

.keyboard {
  font-size: 1.5rem;
  line-height: inherit;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  padding-left: 1.3rem;
  padding-right: 1.4rem;
}

@keyframes blinker {
  50% { opacity: 0; }
}