td, th {
  text-align: center;
  font-size: 2rem;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 2.5rem;
}

input.select-dropdown {
  font-size: 2rem;
  border: 0px;
}

.sudoku-cell {
  border: 1px solid gray;
  margin-top: 2px;
}

.sudoku-rock {
  background: #eeeeee;
}

.row-selected, .col-selected {
  background: #6fbf89;
}

.square-selected {
  background: gray;
}

