<div class="row">
	<div class="col">
	<h1>A jugar Sudoku!</h1>
	</div>
</div>

<div class="row">
	<div class="col s12 l12 m12 x12">
		<%- problem %>
	</div>
</div>

<div class="row">
	<div class="col s6 l6 xl6 m62">
	<p>Toque cada casilla vacia para poner un n&uacute;mero del <b>1 al 9</b> de tal forma <b>que no se repitan
	   en cada columna, fila y cuadrante</b>.</p>
	</div>

	<div class="col s6 l6 xl6 m6">
		<% for (var i = 1; i<=9; i++) { %>
			<a style="margin-bottom:2px;" href="#!" class="btn blue keyboard" data-value="<%= i %>"><%= i %></a>
			<% if (i % 3 == 0){  %><br/><% } %>
		<% } %>
		<a href="#!" class="btn green" data-value=""><i class="material-icons">delete</i></a>
		<a href="#!" class="btn green" onclick="validate();"><i class="material-icons">check</i></a>
		<a href="#!" class="btn green" onclick="apretaste.send({command: 'SUDOKU'});"><i class="large material-icons">refresh</i></a>
	</div>
</div>
