<div class="row">
	<div class="col s12 l12 m12 x12">
		<h1>Sudoku</h1>
	</div>
</div>

<div class="row">
	<div class="col s12 l12 m12 x12">
	<p>Rellene las celdas vac&iacute;as con un n&uacute;mero del <b>1 al 9</b> de tal forma <b>que no se repitan</b>
	   en cada columna, fila y cuadrante. Los cuadrantes est&aacute;n delimitados por los borders negros.
	   Despl&aacute;cese hacia abajo para ver la soluci&oacute;n.</p>
	</div>
</div>

<div class="row">
	<div class="col s6 l6 m6 x6">
		<a class="btn" href="#!" onclick="apretaste.send({command: 'SUDOKU'});" >Otro Sudoku!"</a>
	</div>
	<div class="col s6 l6 m6 x6">
		<a href="#!" onclick="apretaste.send({command: 'WIKIPEDIA sudoku'});">M&aacute;s sobre Sudoku</a>
	</div>
</div>
	
<div class="row">
	<div class="col s12 l12 m12 x12">
		<h1>Completar</h1>
		<%= problem %>
	</div>
</div>

<div class="row">
	<div class="col s12 l12 m12 x12">
		<h1>Imprimir</h1>
		<%= problem_print %>
	</div>
</div>

<div class="row">
	<div class="col s12 l12 m12 x12">
		<h1>Soluci&oacute;n</h1>
		<%= solution %>
	</div>
</div>

<div class="row">
	<div class="col s12 l12 m12 x12">
		<p><small>&iquest;Es de su agrado este juego?</small></p>
		<a class="btn" href="#!" onclick="apretaste.send({command: 'SUDOKU'});">Otro Sudoku!</a>
	</div>
</div>